* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1vw;
}

$white: #fbf6ed;
$gold: #f2ab40;
$black: #181113;

$font-primary: "poppins";
$font-secondary: "lato"; // georgia

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

::-webkit-scrollbar {
  background: white;
  outline: 1px solid $black;
  border-radius: 3px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $gold;
  border-radius: 2px;
}

@mixin FlexCenter($fd) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $fd;
}

@mixin mobile-w($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin mobile-h($h) {
  @media (max-height: $h) {
    @content;
  }
}

@mixin min-mobile-w($w) {
  @media (min-width: $w) {
    @content;
  }
}

@mixin min-mobile-h($h) {
  @media (min-height: $h) {
    @content;
  }
}

img {
  filter: brightness(0.9) contrast(1.2) sepia(0.5);
}

.softr-back-to-top-button {
  @include mobile-w(1000px) {
    scale: 75%;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
  }
}

// main {
//   .container {
//     margin-top: 0 !important;
//     border-top: none !important;
//   }
// }
