@import "nav-menu.scss";
@import "_base.scss";

main {
  width: 100svw;
  // padding: 150px;
  // @include mobile-w(1000px) {
  //   padding: 50px 75px;
  // }
  // @include mobile-w(1000px) {
  //   padding: 50px 25px;
  // }
  @include FlexCenter(row);
  // gap: 200px;
  @include mobile-w(500px) {
    height: 1170px;
  }
  .container {
    width: 100svw;
    height: 797.5px;
    @include min-mobile-w(2000px) {
      height: 900px;
    }
    margin: 50px 0px;
    // padding: 25px;
    display: flex;
    border: 1px $black solid;
    @include mobile-w(750px) {
      border: none;
      @include FlexCenter(row);
    }
    section {
      &.img-container {
        width: 55%;
        @include mobile-w(1675px) {
          width: 50%;
        }
        @include mobile-w(1000px) {
          width: 40%;
        }
        @include mobile-w(750px) {
          width: 0%;
        }
      }
      &.form-container {
        width: 45%;
        @include mobile-w(1675px) {
          width: 50%;
        }
        @include mobile-w(1000px) {
          width: 60%;
        }
        @include mobile-w(750px) {
          width: 90%;
        }
        @include mobile-w(410px) {
          width: 95%;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include min-mobile-w(2000px) {
          object-position: center calc(100% - 40%);
        }
        // object-position: 50%;
      }
    }
  }
  form {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    // border-radius: 17px;
    @include FlexCenter(column);
    font-family: $font-primary;
    background: white;
    border-left: 1px $black solid;
    @include mobile-w(750px) {
      border: 1px $black solid;
    }
    .header {
      width: 100%;
      height: 50px;
      background: $black;
      color: $white;
      padding: 0px 5%;
      @include FlexCenter(row);
      justify-content: start;
      // border-top-left-radius: 17px;
      // border-top-right-radius: 17px;
      margin-bottom: 50px;
      i {
        font-size: 36px;
        &:nth-of-type(2) {
          font-size: 24px;
          margin-left: 20px;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            color: darken($color: $white, $amount: 20);
          }
        }
      }
      p {
        font-size: 22px;
        margin-left: 15px;
        width: 90%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
    }
    .inputs-container {
      width: 100%;
      @include FlexCenter(row);
      @include mobile-w(500px) {
        @include FlexCenter(column);
      }
      .content {
        @include FlexCenter(column);
        @include mobile-w(500px) {
          width: calc(100% - 50px);
        }
      }
    }
    label {
      font-size: 22px;
      @include min-mobile-w(2000px) {
        font-size: 28px;
      }
      transform: translateY(33px);
      transition: 0.2s;
      font-weight: 700;
      &.txtarea {
        transform: translateY(0px) !important;
      }
      &.selected {
        transform: translateY(5px) scale(0.8);
      }
    }
    input:not(.datetime-container input) {
      width: 300px;
      height: 40px;
      padding: 10px;
      background: none;
      text-align: center;
      border: none;
      border-bottom: 3px $black solid;
      font-size: 18px;
      transition: 0.4s;
      margin: 0px 25px 50px 25px;
      @include min-mobile-w(2000px) {
        margin-bottom: 85px;
        width: 400px;
      }
      @include mobile-w(1400px) {
        width: 250px;
      }
      @include mobile-w(1200px) {
        width: 200px;
        margin: 0px 17.5px 50px 17.5px;
      }
      @include mobile-w(800px) {
        width: 190px;
        margin: 0px 17.5px 50px 17.5px;
      }
      @include mobile-w(500px) {
        margin-bottom: 35px;
        width: 100%;
      }
      &:focus {
        outline: none;
        border-bottom: 3px $gold solid;
        background: #fbf6ed7f;
      }
    }

    .budget-p {
      @extend label;
      transform: none !important;
    }

    .custom-select-wrapper {
      position: relative;
      width: 350px;
      @include mobile-w(500px) {
        width: 275px;
      }
      margin: 2px 0px 35px 0px;
      text-align: center;
    }

    .custom-select {
      position: relative;
      cursor: pointer;
      font-size: 16px;
      user-select: none;

      &-trigger {
        display: block;
        background: none;
        padding: 10px 15px;
        border-bottom: 3px solid $black;
        width: 100%;
        box-sizing: border-box;
        transition: 0.4s;
        &:hover {
          border-bottom: 3px $gold solid;
          background: #fbf6ed7f;
        }
      }

      &.opened .custom-options {
        @include FlexCenter(column);
        text-align: center;
      }
    }

    .custom-options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      margin-top: 5px;
      // border: 1px dashed $black;
      // border-bottom: 1px solid $black;
      // border-top: none;
      max-height: 200px;
      display: none;
      z-index: 5;
      .custom-option {
        padding: 10px 15px;
        margin-top: 5px;
        cursor: pointer;
        background: #fffaf2;
        box-sizing: border-box;
        width: 100%;
        border: 1px #f2ab4044 solid;
        transition: 0.2s;
        &:hover {
          background: #ffefd6;
          border-bottom: 1px solid $gold;
        }
        &.selection {
          background: #f2ab4061;
          font-weight: bold;
        }
      }
    }

    textarea {
      width: 90%;
      height: 150px;
      padding: 10px;
      background: none;
      border: none;
      border-bottom: 3px $black solid;
      font-size: 18px;
      transition: 0.4s;
      margin: 10px 0px 50px 0px;
      resize: none;
      &:focus {
        outline: none;
        border-bottom: 3px $gold solid;
        background: #fbf6ed7f;
      }
    }
    .txtarea::after {
      content: "(optional)";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 25px);
      @include min-mobile-w(2000px) {
        transform: translate(-50%, 32px);
      }
      color: #18111381;
      font-size: 10px;
      letter-spacing: 1px;
    }
    button {
      align-self: center;
      cursor: pointer;
      transition: 0.2s;
      width: 90%;
      height: 50px;
      @include min-mobile-w(2000px) {
        height: 65px;
        font-size: 18px;
      }
      background: $black;
      border: none;
      border-radius: 7px;
      font-weight: 800;
      color: $white;
      font-size: 17px;
      box-shadow: 0px 10px 0px darken($color: $white, $amount: 70);
      &:hover {
        transform: translateY(2px);
        box-shadow: 0px 8px 0px darken($color: $white, $amount: 70);
      }
      &:active {
        transform: translateY(10px);
        box-shadow: 0px 0px 0px darken($color: $white, $amount: 70);
      }
    }
  }
  section {
    width: 50%;
    @include FlexCenter(column);
    h2 {
      position: absolute;
      font-size: 57px;
      font-family: $font-primary;
      line-height: 55px;
      .line {
        display: block;
        width: 50px;
        height: 2px;
      }
    }
  }
}

.title-container {
  width: 100%;
  @include FlexCenter(row);
  margin: 125px 0px;
  @include mobile-w(1950px) {
    margin: 80px 0px;
  }
  @include mobile-w(1000px) {
    margin: 50px 0px;
  }
  .line {
    width: 20%;
    height: 2px;
    background: $black;
    border-radius: 5px;
    @include mobile-w(1950px) {
      width: 15%;
    }
    @include mobile-w(1500px) {
      width: 10%;
    }
    @include mobile-w(1320px) {
      width: 10%;
    }
  }
  p {
    font-family: $font-primary;
    font-size: 70px;
    letter-spacing: 25px;
    margin: 40px;
    text-align: center;
    width: 1000px;
    // margin-right: 18px; // ???
    @include mobile-w(1650px) {
      font-size: 60px;
    }
    @include mobile-w(1320px) {
      font-size: 50px;
      letter-spacing: 10px;
      text-align: center;
      width: 550px;
    }
    @include mobile-w(770px) {
      width: 275px;
      font-size: 42px;
      letter-spacing: 5px;
    }
    @include mobile-w(600px) {
      width: 200px;
      font-size: 28px;
      letter-spacing: 3px;
      margin: 20px;
    }
  }
}

section.sec-desc {
  width: 100%;
  height: 800px;
  @include mobile-w(1050px) {
    height: 1000px;
  }
  @include mobile-w(900px) {
    height: 1300px;
  }
  @include mobile-w(700px) {
    height: 800px;
    // margin-bottom: 120px !important;
    // padding-bottom: 0 !important;
  }
  @include mobile-w(600px) {
    height: 1000px;
  }
  // border: red 2px dashed;
  padding-bottom: 100px;
  margin-bottom: 100px;
  @include mobile-w(800px) {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  display: flex;
  @include mobile-w(900px) {
    flex-direction: column;
  }
  p {
    @include FlexCenter(row);
    &:first-of-type {
      &::after {
        font-size: 17px;
        content: "grow wealth efficiently";
        color: rgba(0, 106, 0, 0.547);
      }
      span.line {
        display: block;
        width: 20px;
        height: 1px;
        background: $black;
        margin: 0px 25px;
      }
    }
  }

  img {
    width: 35%;
    height: 100%;
    @include min-mobile-w(2000px) {
      width: 42.5%;
    }
    object-fit: cover;
    @include mobile-w(900px) {
      width: 100%;
      height: 40%;
    }
    @include mobile-w(450px) {
      height: 25%;
    }
  }
  .text-container {
    width: 65%;
    height: 100%;
    @include min-mobile-w(2000px) {
      width: 57.5%;
    }
    @include mobile-w(900px) {
      width: 100%;
      height: 60%;
    }
    padding: 0px 75px;
    @include mobile-w(700px) {
      padding: 0px 50px;
    }
    @include mobile-w(380px) {
      padding: 0px 35px;
    }
    background: white;
    @include FlexCenter(column);
    align-items: start;
    h4 {
      font-size: 45px;
      @include mobile-h(780px) {
        font-size: 35px;
      }
      @include mobile-w(700px) {
        font-size: 25px;
      }
    }
    h4,
    a {
      font-family: $font-primary;
      margin: 25px 0 15px 0px;
      @include mobile-w(700px) {
        margin: 10px 0 2.5px 0px;
      }
    }
    p {
      font-family: $font-secondary;
      font-size: 25px;
      @include mobile-h(780px) {
        font-size: 20px;
      }
      &:first-of-type {
        color: #181113be;
        @include mobile-w(700px) {
          font-size: 14px;
          &::after {
            font-size: 12px;
          }
        }
      }
      &.desc {
        word-spacing: 5px;
        letter-spacing: 1px;
        @include mobile-w(700px) {
          font-size: 17px;
        }
        @include mobile-w(370px) {
          font-size: 15px;
        }
      }
    }
    a {
      text-transform: uppercase;
      font-size: 19px;
      color: $black;
      margin-top: 30px;
      @include mobile-w(700px) {
        font-size: 15px;
        margin-top: 15px;
      }
      background: rgba(242, 171, 64, 0.65);
      padding-left: 20px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        i {
          transform: translateX(200%);
          opacity: 100%;
        }
      }
      i {
        transition: 0.25s;
        opacity: 0%;
      }
    }
  }
}
