@import "nav-menu.scss";
@import "_base.scss";

main {
  width: 100svw;
  // padding: 150px;
  // @include mobile-w(1000px) {
  //   padding: 50px 75px;
  // }
  // @include mobile-w(1000px) {
  //   padding: 50px 25px;
  // }
  @include FlexCenter(row);
  // gap: 200px;
  .container {
    width: 100svw;
    height: 900px;
    margin: 50px 0px;
    // padding: 25px;
    display: flex;
    border: 1px $black solid;
    @include mobile-w(750px) {
      border: none;
      @include FlexCenter(row);
    }
    section {
      &.img-container {
        width: 55%;
        @include mobile-w(1675px) {
          width: 50%;
        }
        @include mobile-w(1000px) {
          width: 40%;
        }
        @include mobile-w(750px) {
          width: 0%;
        }
      }
      &.form-container {
        width: 45%;
        @include mobile-w(1675px) {
          width: 50%;
        }
        @include mobile-w(1000px) {
          width: 60%;
        }
        @include mobile-w(750px) {
          width: 90%;
        }
        @include mobile-w(410px) {
          width: 95%;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // object-position: 50%;
      }
    }
  }
  form {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    // border-radius: 17px;
    @include FlexCenter(column);
    font-family: $font-primary;
    background: white;
    border-left: 1px $black solid;
    @include mobile-w(750px) {
      border: 1px $black solid;
    }
    .header {
      width: 100%;
      height: 50px;
      background: $black;
      color: $white;
      padding: 0px 5%;
      @include FlexCenter(row);
      justify-content: start;
      // border-top-left-radius: 17px;
      // border-top-right-radius: 17px;
      margin-bottom: 50px;
      i {
        font-size: 32px;
        &:nth-of-type(2) {
          font-size: 24px;
          margin-left: 20px;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            color: darken($color: $white, $amount: 20);
          }
        }
      }
      p {
        font-size: 18px;
        margin-left: 15px;
        width: 90%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
    }
    label {
      font-size: 22px;
      @include min-mobile-w(2000px) {
        font-size: 28px;
      }
      transform: translateY(33px);
      transition: 0.2s;
      font-weight: 700;
      &.txtarea {
        transform: translateY(0px) !important;
      }
      &.selected {
        transform: translateY(5px) scale(0.8);
      }
    }
    input:not(.checkboxes-container input) {
      width: 90%;
      height: 40px;
      padding: 10px;
      background: none;
      text-align: center;
      border: none;
      border-bottom: 3px $black solid;
      font-size: 18px;
      transition: 0.4s;
      margin-bottom: 50px;
      &:focus {
        outline: none;
        border-bottom: 3px $gold solid;
        background: #fbf6ed7f;
      }
    }
    p.i {
      font-size: 22px;
      @include min-mobile-w(2000px) {
        font-size: 26px;
      }
      font-weight: 700;
    }
    .checkboxes-container {
      margin-bottom: 40px;
      border-bottom: 3px $black solid;
      padding: 2.5px 0px;
      text-align: center;
      width: 80%;
      transition: 0.4s;
      @include FlexCenter(row);
      flex-wrap: wrap;
      &:hover {
        outline: none;
        border-bottom: 3px $gold solid;
        background: #fbf6ed7f;
      }
      div {
        @include FlexCenter(row);
        margin: 1px;
        @include min-mobile-w(1500px) {
          margin: 5px;
        }
        padding-right: 5px;
        &:has(input:checked) {
          label {
            background: #f2ab4061;
          }
        }
        input {
          height: 20px;
          width: 20px;
          border: 3px red solid !important;
          margin: 5px;
          margin-left: 15px;
          &:last-of-type {
            margin: 5px !important;
            margin-left: 0;
          }
          cursor: pointer;
          &:hover {
            border-color: $black !important;
          }
          &:checked + label {
            opacity: 100%;
          }
        }
        label {
          font-size: 17px;
          @include min-mobile-w(2000px) {
            font-size: 19px;
          }
          opacity: 80%;
          transform: translateY(0px) !important;
        }
      }
    }
    textarea {
      width: 90%;
      height: 250px;
      padding: 10px;
      background: none;
      border: none;
      border-bottom: 3px $black solid;
      font-size: 18px;
      transition: 0.4s;
      margin: 10px 0px 50px 0px;
      resize: none;
      &:focus {
        outline: none;
        border-bottom: 3px $gold solid;
        background: #fbf6ed7f;
      }
    }
    button {
      align-self: center;
      cursor: pointer;
      transition: 0.2s;
      width: 90%;
      height: 50px;
      background: $black;
      border: none;
      border-radius: 7px;
      font-weight: 800;
      color: $white;
      font-size: 17px;
      box-shadow: 0px 10px 0px darken($color: $white, $amount: 70);
      &:hover {
        transform: translateY(2px);
        box-shadow: 0px 8px 0px darken($color: $white, $amount: 70);
      }
      &:active {
        transform: translateY(10px);
        box-shadow: 0px 0px 0px darken($color: $white, $amount: 70);
      }
    }
  }
  section {
    width: 50%;
    @include FlexCenter(column);
    h2 {
      position: absolute;
      font-size: 57px;
      font-family: $font-primary;
      line-height: 55px;
      .line {
        display: block;
        width: 50px;
        height: 2px;
      }
    }
  }
}
