@import "nav-menu.scss";
@import "_base.scss";

.message {
  width: 100svw;
  height: calc(100svh - 125px);
  @include mobile-w(1000px) {
    height: 500px;
  }
  @include FlexCenter(column);
  &-content-container {
    background: white;
    // border-radius: 17px;
    padding: 75px 30px;
    @include mobile-w(450px) {
      padding: 30px;
    }
    overflow: hidden;
    position: relative;
    width: 100%;
    // @include mobile-w(1200px) {
    //   width: 500px;
    //   padding: 35px;
    // }
    // @include mobile-w(575px) {
    //   width: 90%;
    //   padding: 25px;
    // }
    border-top: 2px $black solid;
    border-bottom: 2px $black solid;
    @include FlexCenter(column);
    font-family: $font-primary;
    & *:not(i) {
      z-index: 2;
    }
    h2 {
      font-size: 84px;
      @include mobile-w(1200px) {
        font-size: 54px;
      }
      @include mobile-w(575px) {
        font-size: 36px;
      }
      display: flex;
      span {
        display: block;
        @for $i from 1 through 13 {
          &:nth-of-type(#{$i}) {
            animation: txt-anim ease 7s calc(0.1s * $i) infinite;
          }
        }
        &.space {
          width: 25px;
          @include mobile-w(575px) {
            width: 15px;
          }
        }
      }
    }
    i {
      font-size: 475px;
      @include mobile-w(900px) {
        font-size: 350px;
        left: -25px;
        top: -50px;
      }
      @include mobile-w(450px) {
        font-size: 250px;
        left: -40px;
      }
      left: -50px;
      top: -110px;
      color: darken($color: $gold, $amount: 25);
      opacity: 10%;
      position: absolute;
      z-index: 1;
    }
    p {
      text-align: center;
      font-family: $font-secondary;
      font-size: 24px;
      margin: 15px 0px;
      @include mobile-w(1200px) {
        font-size: 20px;
      }
      @include mobile-w(575px) {
        font-size: 18px;
      }
    }
    strong {
      color: rgb(104, 163, 16);
    }
    a {
      color: $black;
      background: #f2ab405a;
      padding: 0px 10px;
      font-weight: 800;
      margin-top: 15px;
      font-size: 20px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@keyframes txt-anim {
  10% {
    color: $gold;
  }
  20% {
    color: $black;
  }
}
