* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1vw;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

$white: #fbf6ed;
$gold: #f2ab40;
$black: #181113;

$font-primary: "poppins";
$font-secondary: "Georgia";

@mixin FlexCenter($fd) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $fd;
}

@mixin mobile-w($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin mobile-h($h) {
  @media (max-height: $h) {
    @content;
  }
}

@mixin min-mobile-w($w) {
  @media (min-width: $w) {
    @content;
  }
}

@mixin min-mobile-h($h) {
  @media (min-height: $h) {
    @content;
  }
}
