@import "_base.scss";

body {
  background: $white;
  width: 100svw;
  overflow-x: hidden;
  &.loading {
    overflow-y: hidden;
  }
  .header-margin-block {
    width: 100svw;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    @include mobile-w(600px) {
      height: 90px;
    }
  }
  .loader {
    position: fixed;
    z-index: 999;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    top: 0;
    left: 0;
    background: $white;
    opacity: 100%;
    @include FlexCenter(row);
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      height: 80px;
      width: 80px;
      margin-left: 10px;
      transform: translate(-50%, -50%);
      @for $i from 1 through 8 {
        & .ball-#{$i} {
          z-index: -#{$i};
          background-color: $gold;
          animation-timing-function: cubic-bezier(0.5, 0.3 * $i, 0.9, 0.9);
        }
      }
    }
    [class^="ball-"] {
      position: absolute;
      display: block;
      left: 30px;
      width: 14px;
      height: 14px;
      border-radius: 10px;
      transition: all 1s;
      animation: circleRotate 3.5s ease infinite;
      transform-origin: 0 250% 0;
    }
    &.loaded {
      animation: loader-remove 0.5s ease forwards;
    }
  }
  header {
    position: fixed;
    z-index: 89;
    top: 0px;
    width: 100svw;
    height: 125px;
    border-bottom: 1px $black solid;
    @include FlexCenter(row);
    background: white;
    @include mobile-w(600px) {
      height: 90px;
    }
    nav {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 5%;
      @include mobile-w(1600px) {
        padding: 0px 1%;
        li {
          font-size: 23px !important;
          margin: 15px !important;
        }
      }
      .menu {
        @include mobile-w(1350px) {
          li:not(li:last-of-type) {
            display: none;
          }
        }
        z-index: 199;
        ol {
          list-style-type: none;
          display: flex;
          li {
            width: 100%;
            cursor: pointer;
            padding: 20px 0px;
            font-size: clamp(25px, 1.15rem, 40px);
            margin: 25px;
            font-family: $font-primary;
            @include FlexCenter(row);
            @include mobile-h(610px) {
              font-size: 20px;
              padding: 10px 0px;
            }
            font-weight: 500;
            @for $i from 0 to 20 {
              &:hover {
                a span:nth-of-type(#{$i}) {
                  animation: nav-txt-anim 0.5s forwards;
                  animation-delay: calc($i * 0.025s);
                }
              }
            }
            a {
              text-decoration: none;
              color: $black;
              display: flex;
              &.selected {
                font-weight: 700;
                border-bottom: #f2ab40 3px solid;
              }
              span {
                display: block;
                transition: 0.1s;
                &.space {
                  height: 5px;
                  width: 9px;
                }
              }
            }
          }
        }
      }
      .logo-container {
        height: 90%;
        display: flex;
        align-items: center;
      }

      img.logo {
        height: 100%;
        transform: translateX(40%);
        z-index: 4;
      }
      img.text {
        height: 60%;
        transform: translateY(3px);
        z-index: 2;
      }
      &:hover {
        span {
          text-decoration: none;
        }
      }
      .line {
        height: 100%;
        width: 1px;
        background: $black;
      }
      .burger {
        font-size: 37.5px;
        cursor: pointer;
        border-radius: 100px;
        // border: 2px $black solid;
        width: 60px;
        height: 60px;
        text-align: center;
        @include FlexCenter(row);
        gap: 4px;
        // margin-left: 25px;
        span {
          display: block;
          height: 7px;
          width: 7px;
          background: $black;
          border-radius: 100px;
        }
      }
    }
  }
  .dropdown-menu-container {
    &.opened {
      display: block !important;
    }
    display: none !important;
    height: 100svh;
    position: fixed;
    overflow: hidden;
    z-index: 99;
    right: 0;
    top: 0;
    width: 100%;
    font-family: $font-primary;
    display: flex;
    .filter {
      width: 100svw;
      height: 100svh;
      backdrop-filter: brightness(100%) blur(0px);
      // animation: filter-slide 3s 1s ease infinite;
      // border: 5px red dashed;
      display: flex;
      justify-content: end;
      overflow: hidden;
      transition: 0.5s;
      &.opened {
        width: 100svw;
        backdrop-filter: brightness(85%) blur(1px);
      }
    }
    .menu {
      width: 500px;
      background: $white;
      padding: 0px 35px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 2px;
      transition: 0.5s;
      transform: translateX(500px);
      &.opened {
        transform: translateX(0px);
      }
      .socials {
        display: flex;
        flex-direction: column;
        @include mobile-w(600px) {
          flex-direction: row;
          justify-content: center;
        }
        .wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          @include mobile-w(600px) {
            width: 50px;
          }
          a {
            &:hover {
              width: 185px !important ;
            }
          }
        }
        .toast {
          display: none;
        }
        .copied {
          display: block !important;
          font-size: 15px;
          margin-left: 12px;
          animation: toast-anim 2s cubic-bezier(1, 0, 0, 1) forwards;
          animation-delay: -0.5s;
          @include mobile-w(600px) {
            position: absolute;
            transform: translateX(-25%) translateY(-50px);
            animation: toast-anim-mobile 2s cubic-bezier(1, 0, 0, 1) forwards;
          }
        }
        gap: 10px;
        margin-bottom: 35px;
        width: 100%;
        padding-top: 35px;
        a {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 7.5px;
          cursor: pointer;
          transition: 0.5s;
          color: $black;
          text-decoration: none;
          border: $black 3px solid;
          text-wrap: nowrap;
          gap: 7.5px;
          overflow: hidden;
          @include mobile-w(600px) {
            width: 50px !important;
          }
          &:nth-of-type(1) {
            padding-left: 8px;
          }
          &:nth-of-type(3) {
            padding-left: 10.5px;
            gap: 8.5px;
          }
          &.fb::after {
            content: "Alex Ekuza";
            font-size: 17px;
          }
          &.whatsapp::after {
            content: "07949 940 893";
            font-size: 17px;
          }
          &.email::after {
            content: "alex@ekuzaestates.co.uk";
            font-size: 17px;
          }
          &.ig::after {
            content: "ekuza_estates";
            font-size: 17px;
          }
          &.fb {
            display: none !important;
          }
          &:hover {
            &:nth-of-type(1) {
              width: 145px;
            }
            &:nth-of-type(2) {
              width: 275px;
            }
            &:nth-of-type(3) {
              width: 185px;
            }
          }
          &:hover {
            scale: 100%;
          }
          i {
            font-size: 30px;
          }
        }
      }
      .close {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5px;
        margin: 35px 0px;
        font-size: clamp(20px, 0.9rem, 100px);
        .x:hover p {
          text-decoration: none;
        }
        p {
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
        button {
          @include FlexCenter(row);
          background: transparent;
          border: none;
          cursor: pointer;
          span {
            font-size: clamp(37.5px, 1.5rem, 100px);
          }
        }
      }
      ol {
        list-style-type: none;
        li {
          width: 100%;
          cursor: pointer;
          border-top: 1px #1811136b solid;
          padding: 20px 0px;
          font-size: clamp(25px, 1.15rem, 100px);
          @include mobile-h(610px) {
            font-size: 20px;
            padding: 10px 0px;
          }
          font-weight: 500;
          &:last-of-type {
            border-bottom: 1px #1811136b solid;
          }
          @for $i from 0 to 20 {
            &:hover {
              a span:nth-of-type(#{$i}) {
                animation: nav-txt-anim 0.5s forwards;
                animation-delay: calc($i * 0.025s);
              }
            }
          }
          a {
            text-decoration: none;
            color: $black;
            display: flex;
            &.selected {
              font-weight: 700;
              span:first-of-type {
                border-left: #f2ab40 3px solid;
                padding-left: 10px;
              }
            }
            @include mobile-w(600px) {
              justify-content: center;
            }
            span {
              display: block;
              transition: 0.1s;
              &.space {
                height: 5px;
                width: 9px;
              }
            }
          }
        }
      }
    }
  }
  .center-point {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    height: 400px;
    width: 4px;
    border-radius: 100%;
    background: red;
    transform: translate(-50%, -50%);
  }
  footer {
    width: 100%;
    height: 300px;
    @include mobile-w(850px) {
      height: 500px;
    }
    @include min-mobile-w(1800px) {
      height: 500px;
    }
    background: $black;
    color: $white;
    padding: 0px 250px;
    @include mobile-w(1500px) {
      padding: 0px 115px;
    }
    @include mobile-w(850px) {
      padding: 0px 25px;
    }
    @include FlexCenter(column);
    // section {
    //   border: 2px dotted red;
    // }
    .container {
      width: 100%;
      height: 92.5%;
      display: flex;
      @include mobile-w(850px) {
        flex-direction: column;
      }
    }
    .sec-1 {
      width: 100%;
      @include FlexCenter(column);
      align-items: start;
      @include mobile-w(850px) {
        align-items: center;
        margin: 50px 0px;
      }
      p {
        font-size: 20px;
        margin-top: 20px;
        @include mobile-w(850px) {
          text-align: center;
        }
        @include min-mobile-w(1800px) {
          font-size: 24px;
        }
      }
      img {
        height: 150px;
        @include min-mobile-w(1800px) {
          height: 200px;
        }
        border-radius: 3px;
        border: $gold 2px solid;
      }
    }
    .sec-2 {
      width: 100%;
      @include FlexCenter(column);
      .socials {
        width: 100%;
        height: 100%;
        @include FlexCenter(column);
        align-items: end;
        @include mobile-w(850px) {
          align-items: center;
        }
        a {
          cursor: pointer;
          color: $white;
          text-decoration: none;
          margin: 7.5px 0px;
          &:hover {
            text-decoration: underline;
          }
          i {
            font-size: 20px;
            margin-right: 10px;
            @include min-mobile-w(1800px) {
              font-size: 24px;
            }
          }
        }
        .whatsapp::after {
          content: "07949 940 893";
          font-size: 20px;
          @include min-mobile-w(1800px) {
            font-size: 24px;
          }
        }
        .email::after {
          content: "alex@ekuzaestates.co.uk";
          font-size: 20px;
          @include min-mobile-w(1800px) {
            font-size: 24px;
          }
        }
        .ig::after {
          content: "ekuza_estates";
          font-size: 20px;
          @include min-mobile-w(1800px) {
            font-size: 24px;
          }
        }
        .wrapper {
          @include FlexCenter(row);
          .toast {
            position: absolute;
            font-size: 17px;
            transform: translateX(250%);
            @include mobile-w(1500px) {
              transform: translateX(225%) !important;
            }
            opacity: 0%;
            &.copied {
              animation: toast-anim-footer 2s cubic-bezier(1, 0, 0, 1) forwards;
            }
          }
        }
      }
    }
    .km-container {
      width: 100%;
      height: 7.5%;
      @include FlexCenter(column);
      justify-content: end;
      a {
        font-size: 14px;
        @include mobile-w(1500px) {
          font-size: 13px;
        }
        @include mobile-w(850px) {
          font-size: 12px;
        }
        color: $white;
        text-decoration: none;
        opacity: 50%;
        @include FlexCenter(row);
        &:hover {
          text-decoration: underline;
        }
        span,
        i {
          margin: 0px 3.5px;
        }
        .klemensowicz {
          text-decoration: underline;
        }
        .heart {
          color: red;
          font-size: 12px;
        }
      }
    }
  }
}

@keyframes nav-txt-anim {
  from {
    color: $gold;
  }
  to {
    color: $black;
  }
}

@keyframes toast-anim {
  0% {
    scale: 0%;
    opacity: 0%;
  }
  50% {
    scale: 110%;
    opacity: 100%;
  }
  100% {
    scale: 0%;
    opacity: 0%;
  }
}

@keyframes toast-anim-footer {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes toast-anim-mobile {
  0% {
    opacity: 0%;
    margin-bottom: -34px;
  }
  50% {
    opacity: 100%;
    margin-bottom: 4px;
  }
  100% {
    opacity: 0%;
    margin-bottom: -34px;
  }
}

@keyframes loader-remove {
  99% {
    opacity: 0%;
  }
  100% {
    display: none;
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
