* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1vw;
}

body {
  background: white;
}
body .dropdown-menu-container {
  height: 100svh;
  position: absolute;
  overflow: hidden;
  z-index: 9;
  right: 0;
  top: 0;
  width: 100%;
  font-family: "poppins";
  display: flex;
}
body .dropdown-menu-container .filter {
  width: calc(100svw - 500px);
  backdrop-filter: brightness(75%) blur(1px);
}
body .dropdown-menu-container .menu {
  width: 500px;
  background: #fdf8ef;
  padding: 0px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .dropdown-menu-container .menu .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
  width: 100%;
  padding-top: 35px;
}
@media (max-height: 800px) {
  body .dropdown-menu-container .menu .socials {
    flex-direction: row;
    justify-content: center;
  }
}
body .dropdown-menu-container .menu .socials .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-height: 800px) {
  body .dropdown-menu-container .menu .socials .wrapper {
    width: 50px;
  }
}
body .dropdown-menu-container .menu .socials .wrapper a:hover {
  width: 205px !important;
}
body .dropdown-menu-container .menu .socials .toast {
  display: none;
}
body .dropdown-menu-container .menu .socials .copied {
  display: block !important;
  font-size: 15px;
  margin-left: 12px;
  animation: toast-anim 2s cubic-bezier(1, 0, 0, 1) forwards;
  animation-delay: -0.5s;
}
@media (max-height: 800px) {
  body .dropdown-menu-container .menu .socials .copied {
    position: absolute;
    transform: translateX(-25%) translateY(-50px);
    animation: toast-anim-mobile 2s cubic-bezier(1, 0, 0, 1) forwards;
  }
}
body .dropdown-menu-container .menu .socials a {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 7.5px;
  cursor: pointer;
  transition: 0.5s;
  color: #181113;
  text-decoration: none;
  border: #181113 2px solid;
  text-wrap: nowrap;
  gap: 7.5px;
  overflow: hidden;
}
@media (max-height: 800px) {
  body .dropdown-menu-container .menu .socials a {
    width: 50px !important;
  }
}
body .dropdown-menu-container .menu .socials a:nth-of-type(1) {
  padding-left: 8px;
}
body .dropdown-menu-container .menu .socials a:nth-of-type(3) {
  padding-left: 10.5px;
  gap: 8.5px;
}
body .dropdown-menu-container .menu .socials a.fb::after {
  content: "Alex Ekuza";
  font-size: 17px;
}
body .dropdown-menu-container .menu .socials a.whatsapp::after {
  content: "+44 7949 940893";
  font-size: 17px;
}
body .dropdown-menu-container .menu .socials a.email::after {
  content: "crazygmail@gmail.com";
  font-size: 17px;
}
body .dropdown-menu-container .menu .socials a.linkedin::after {
  content: "fancylinkedinprofile";
  font-size: 17px;
}
body .dropdown-menu-container .menu .socials a:hover:nth-of-type(1) {
  width: 145px;
}
body .dropdown-menu-container .menu .socials a:hover:nth-of-type(2) {
  width: 260px;
}
body .dropdown-menu-container .menu .socials a:hover:nth-of-type(3) {
  width: 222px;
}
body .dropdown-menu-container .menu .socials a:hover {
  scale: 100%;
}
body .dropdown-menu-container .menu .socials a i {
  font-size: 30px;
}
body .dropdown-menu-container .menu .close {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin: 35px 0px;
  font-size: clamp(20px, 0.9rem, 100px);
}
body .dropdown-menu-container .menu .close .x:hover p {
  text-decoration: none;
}
body .dropdown-menu-container .menu .close p {
  text-decoration: underline;
  cursor: pointer;
}
body .dropdown-menu-container .menu .close p:hover {
  text-decoration: none;
}
body .dropdown-menu-container .menu .close button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: transparent;
  border: none;
  cursor: pointer;
}
body .dropdown-menu-container .menu .close button span {
  font-size: clamp(37.5px, 1.5rem, 100px);
}
body .dropdown-menu-container .menu ol {
  list-style-type: none;
}
body .dropdown-menu-container .menu ol li {
  width: 100%;
  cursor: pointer;
  border-top: 1px rgba(24, 17, 19, 0.4196078431) solid;
  padding: 20px 0px;
  font-size: clamp(25px, 1.15rem, 100px);
  font-weight: 500;
}
@media (max-height: 610px) {
  body .dropdown-menu-container .menu ol li {
    font-size: 20px;
    padding: 10px 0px;
  }
}
body .dropdown-menu-container .menu ol li:last-of-type {
  border-bottom: 1px rgba(24, 17, 19, 0.4196078431) solid;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(0) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(1) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.025s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(2) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.05s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(3) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.075s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(4) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.1s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(5) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.125s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(6) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.15s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(7) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.175s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(8) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.2s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(9) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.225s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(10) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.25s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(11) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.275s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(12) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.3s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(13) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.325s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(14) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.35s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(15) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.375s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(16) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.4s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(17) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.425s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(18) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.45s;
}
body .dropdown-menu-container .menu ol li:hover a span:nth-of-type(19) {
  animation: nav-txt-anim 0.5s forwards;
  animation-delay: 0.475s;
}
body .dropdown-menu-container .menu ol li a {
  text-decoration: none;
  color: #181113;
  display: flex;
}
body .dropdown-menu-container .menu ol li a span {
  display: block;
  transition: 0.1s;
}
body .dropdown-menu-container .menu ol li a span.space {
  height: 5px;
  width: 9px;
}

@keyframes nav-txt-anim {
  from {
    color: #f2ab40;
  }
  to {
    color: #181113;
  }
}
@keyframes toast-anim {
  0% {
    scale: 0%;
    opacity: 0%;
    rotate: 10deg;
  }
  50% {
    scale: 110%;
    opacity: 100%;
    rotate: -370deg;
  }
  100% {
    scale: 0%;
    opacity: 0%;
    rotate: 10deg;
  }
}
@keyframes toast-anim-mobile {
  0% {
    opacity: 0%;
    margin-bottom: -34px;
  }
  50% {
    opacity: 100%;
    margin-bottom: 4px;
  }
  100% {
    opacity: 0%;
    margin-bottom: -34px;
  }
}/*# sourceMappingURL=styles.css.map */